/*Global Styles */
html{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}

/* #mainHeader styles */

#mainHeader{
	display:flex;
	justify-content: space-between;
	align-items: center;
	color:#434343;
	height:64px;
	padding-left:24px;
	padding-right:24px;
	font-size: 1.5rem;
}

.logoContainer{
	display:flex;
	align-items: center;
}
.logoContainer img{
	width:3rem;
}
.logoContainer p{
	font-weight: 700
}
#mainHeader span{
	color:#929292;
}
#mainNav ul{
	display:flex;
}
#mainNav ul li a{
	text-decoration: none;
	color:#434343;
}
#mainNav ul>li:not(:last-child) a{
	padding-right:16px;
}
/* #mobileHeader styles */
#mobileHeader{
	display:none;
	height:64px;
}
#mobileHeader nav ul{
	display:flex;
	justify-content: space-around;;
}
/* #callToAction Styles */
#callToAction{
	display:flex;
	padding:32px 0px 32px 24px;
	background-color: #D3D3D3;
	/*width:60%;*/
}

.ctaleft {
	width:60%;
}

#callToAction img{
	width:100%;
	height:auto;
	display:block;
}

#callToActionAside{
	padding-left: 40px;
	display:flex;
	justify-content: center;
	flex-direction: column;
	color:#434343;
	width:40%;
}
#callToActionAside h1{
	font-size: 5rem;
	font-weight: 700;
}
#callToActionAside p{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 3rem;
}

.button{
	background-color:#434343;
	color:#fff;
	padding-top:8px;
	padding-bottom:8px;
	text-align: center;
	max-width:45rem;
}
p.button{
	font-size: 2rem;
}
/* #about styles */
#about{
	display:flex;
}
#aboutMain{
	padding:32px 24px;
	width:60%;
}
#aboutMain img{
	max-width: 100%;
}
#aboutMain h2{
	color: #434343;
	font-weight:700;
	font-size: 3.5rem;
	margin-top: 32px;
	margin-bottom:24px;
}
#aboutMain p{
	/*max-width: 60%;*/
	font-size: 1.8rem;
	line-height: 2rem;
	margin-bottom: 4rem;
}
#aboutMain cite{
	margin-top: 4rem;
	font-size: 1.5rem;
}


#aboutAside{
	/*width:423px;*/
	/*width:40%;
	padding-top:32px;*/
	border-left:1px solid #D3D3D3;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	 width: 40%;
  padding: 2rem 0;
}
.gray{
	background-color: #D3D3D3;
}

.aboutInfo  { 
	display: flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.aboutInfo .mobile {
  display: none;
}

.aboutInfo .media-container {
	width: 35%;
}

.aboutInfo .aboutInfoContent {
	display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 0.75rem 0 1rem;
}

.aboutInfoContent h4{
	font-size: 2.5rem;
	/*font-size: 1.25rem;*/
	font-weight: 700;
	color:#434343;
	/*margin-top: -2rem;*/
	margin-bottom: 1rem;
}
.aboutInfoContent p{
	font-size:1.5rem;
	color:#727272;
}
.aboutInfoContent a{
	font-size: 1.5rem;
	color:#4B88DC;
	text-decoration: none;
	margin-top: 2rem;
}
/* flex-grid-container styles */
#flex-grid-container{
	background-color:#E7E8EA;
}
#flex-grid-container h3{
	text-align: center;
	padding-top:32px;
	padding-bottom:32px;
	color:#434343;
	font-size: 3rem;
	font-weight: 700;
}
.flex-grid{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
.flex-grid-mobile{
	display:none;
}
.flex-grid .col{
	/*height:220px;*/
	width:25%;
	margin-right:32px;
	margin-bottom:32px;
	background-color: #fff;
}
.col img{
	max-width: 100%;
	height:auto;
	display:block;
}
.col-content{
	padding:16px 0px 24px 16px;
}
.col-content h4{
	color:#434343;
	font-size:2rem;
	font-weight: 700;
}
.col-content p{
	color:#727272;
	font-size: 1.5rem;
	line-height: 2rem;
}
.col-content p:first-of-type{
	padding-top:8px;
	padding-bottom:8px;
}
/* Thesis styles */
#thesis h3{
	text-align: center;
	padding-top:32px;
	padding-bottom:32px;
	color:#434343;
	font-size: 3rem;
	font-weight: 700;
}
#thesisContent{
	display:flex;
}
#thesisMain{
	width:60%;
	margin-right:16px;
	margin-left: 24px;
}
#thesisMain video{
	width:100%;
	height:auto;
	display:block;
}
#thesisAside{
	/*width:423px;*/
}
.thesisInfo{
	display:flex; 
}
.thesisInfo img{
	padding:16px;
}
.thesisInfo h4{
	font-size: 2.5rem;
	font-weight: 700;
	color:#434343;
	margin-top: -2rem;
	margin-bottom: 1rem;
}
.thesisInfo p{
	font-size:1.5rem;
	color: #727272
}
.thesisInfoContent{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
/* #urbanQuote styles */
#urbanQuote{
	width:55%;
	margin-top:24px;
	margin-left: 24px;
	margin-bottom: 32px;
}
#urbanQuote h5{
	color: #434343;
	font-size: 2rem;
	font-weight: 700;
}
#urbanQuote p{
	margin-top: 2rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: #727272;
}
/* #mainFooter styles */
#mainFooter{
	display:flex;
	color:#727272;
	justify-content: space-between;
	border-top: 1px solid #727272;
	padding-top: 24px;
	padding-bottom:50px;
}
.footerBrand{
	padding-left: 24px;
}
#footerNav ul{
	display:flex;
}
#footerNav ul li{
	padding-right:12px;
}
#footerNav ul li a{
	text-decoration: none;
	color:#727272;
}
/* Mobile Styles */
@media only screen and (max-width: 1024px){

#mainHeader{
	display: none;
}
#mobileHeader {
	display:block;
	width: 100%;
	padding: 2rem .5rem .5rem .5rem;
	/*height:64px;*/
}

#mobileHeader nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

#callToAction{
	display:block;
	width:100%;
	padding:0;
}
.ctaleft{
	width:100%;
}
#callToActionAside{
	width:100%;
}
#callToAction h1{
	padding-top: 32px;
	padding-bottom:32px;
}
#callToAction p{
	padding-bottom: 24px;
}
p.button{
	background-color:#929292;
}
.button{
	padding-bottom:32px;
}
#aboutMain{
	display:none;
}
#aboutAside{

    width: 100%;
  }

  .aboutInfo .media-container {
    width: 100%;
  }
.aboutInfo{
	display:block;
}
.aboutInfoContent h4{
	margin-top: 2rem;
}

.aboutInfo .desktop {
    display: none;
  }
  .aboutInfo{
   border-bottom: 0px solid rgb(245, 245, 245);
}
.gray{
	background-color: transparent;
	border-bottom:1px solid rgb(245,245,245);
}
  .aboutInfo .mobile {
    display: block;
  }
  #flex-grid-container{
  	background-color:#fff;
  }
  .flex-grid{
  	display:none;
  }
  .flex-grid-mobile{
  	display:block;
  	padding-bottom: 32px;
  	border-bottom:1px solid rgb(245,245,245);
  }
  .flex-grid-mobile nav ul{
  	display:flex;
  	flex-direction: column;
  	align-items: center;
  }
  .flex-grid-mobile nav ul li{
  	background-color:#D3D3D3;
  	line-height: 3rem;
  	margin-bottom: 8px;
  	padding:16px;
  	width:95%;
  }
  .flex-grid-mobile nav ul li a{
  	text-decoration: none;
  	color:#434343;
  	font-size: 3rem;
  }
  #thesisMain{
  	width:100%;
  }
  #thesisAside{
  	display:none;
  }
  #urbanQuote{
  	display:none;
  }
  #footerNav{
  	display:none;
  }
  .footerBrand p{
  	margin-top:24px;
  	padding-top:16px;
  	padding-bottom:16px;
  }
}